body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
  }
  

  .navbar-brand {
    img {
      max-height: 40px;
    }
  }
  
  .btn-navbar-right {
    margin-top: -10px !important;
    height: 70px;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    border-radius: 0;
  }
  
  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: #071C4D;
  
        &.active {
          font-weight: bold;
          color: #071C4D !important;
        }
      }
    }
  }
  
  .btn-login {
    background-color: #071C4D;
    color: #fff;
  
    &:hover {
      color: #fff;
      background-color: #1e3771;
    }
  }

//   header

header {
    padding: 180px 0px 165px;
    margin-top: -80px;
    background-image: url("../images/header@2x.jpg");
    background-size: cover;

    h1, p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #ffe953;
        color : #fff;

        &:hover {
            background-color: #ffaa69;
            color : #fff;
        }
    }

}

// stats

.section-stats {
    margin-top: -50px;
    

    .stats-detail {
        padding-top: 16px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
     
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}


// Section Popular

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

}
.section-popular-heading {
  margin-top: 150px;


  h2, p {
    color: #fff;
  }

  h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}